body {

    background-image: linear-gradient(var(--homepageBackgroundColor1), var(--homepageBackgroundColor2)) !important;
    background-repeat: no-repeat !important;
    scrollbar-color: #87ceeb #ff5621 !important;


}

.user_cat_lists_seciton_sec {
    width: 90%;
    margin: 0 auto;
    display: table;
}

.sub_cat_lists_viewsessions {
    background-color: #EEE;
    box-shadow: 0px 0px 3px #999;
    margin: 29px 0px;
    margin-bottom: 50px;
    padding: 30px 20px;
    float: left;
    width: 100%;
}

.backgorund_urll:hover {
    box-shadow: 0px 0px 0px 0px;
}







.sidebar_filters a:active {
    background: var(--sidebarHoverColor) !important;
    color: var(--sidebarTextHoverColor) !important;
    font-weight: 700;
    padding: 0px 0px 0px 20px;
}







.backgorund_urll {
    background-color: var(--thumbBorderColor);
    box-shadow: 0px 0px 0px 2px var(--thumbBarColor1);
    margin-bottom: 30px;
    float: left;
    width: 100%;
}


.backgorund_urll12 span a:first-child {
    padding: 12px 0 0 !important;
    float: left;
    width: 100%;

}


.backgorund_urll12 span a h3 {
    float: left;
    width: 100%;
    margin: 0;
    font-size: 17px;
    background-color: #222;
    padding: 6px 0;
    color: var(--thumbTextColor);
}


.backgorund_urll12 span a {
    text-align: center;
}


.no-padding {
    padding: 0px;
}


.viewss {
    float: left;
    width: 100%;
    background-color: var(--thumbBarColor2);
    color: var(--thumbTextColor);
    text-align: center;
}


.in-private {
    position: relative;
}


.in-private p.in-privte {
    position: absolute;
    bottom: 0;
    float: right;
    width: 100%;
    text-align: right;
    margin: -1px;
}


.in-private p.in-privte span {
    background-color: red;
    padding: 2px 2px;
    text-transform: uppercase;
    color: var(--thumbTextColor);
    font-size: 9px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.viewss {
    float: left;
    width: 100%;
    background-color: var(--thumbBarColor2);
    color: var(--thumbTextColor);


}


.refreshh {
    margin: 25px 0;

}



.anothehrhe_refreshsh {
    width: 99%;
    margin: 0 auto;
    display: table;
    margin-top: -25px;
    margin-bottom: 20px;
}


.myanothercss {
    background-color: #EEEEEE;
    box-shadow: 0px 0px 3px #999999;
    margin: 29px 0px;
    padding: 30px 20px;
    float: left;
    width: 100%;

}




.backgorund_urll {
    background-color: var(--thumbBorderColor);
    box-shadow: 0px 0px 0px 2px var(--thumbBarColor1);
    margin-bottom: 30px;
    float: left;
    width: 100%;

}








.category_heading {

    background: var(--sidebarTopColor);

    border-bottom: 1px solid var(--sidebarBorderColor);

    box-sizing: border-box;

    color: var(--sidebarTextColor);

    cursor: pointer;

    display: block;

    font-weight: 700;

    height: 36px;

    line-height: 36px;

    padding: 0 20px;

    position: relative;

    -webkit-user-select: none;

    -moz-user-select: none;

    -ms-user-select: none;

    user-select: none;

    margin-bottom: 0px;

    margin-top: -30px;

    font-size: 16px !important;

    padding-top: 10px !important;



}




.sidebar_filters a {

    background: var(--sidebarMainColor);

    border-bottom: 1px solid var(--sidebarBorderColor);

    box-sizing: border-box;

    color: var(--sidebarTextColor);

    display: block;

    font-size: 12px;

    height: 36px;

    line-height: 36px;

    padding: 0 20px;

    position: relative;

    z-index: 1;

}

.sidebar_filters a:hover {

    background: var(--sidebarHoverColor);

    color: var(--sidebarTextHoverColor) !important;

    font-weight: 700;

    padding: 0px 0px 0px 20px;

}



.collection-item:hover {
    opacity: 1 !important;
    border-radius: 0px !important;
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {

    .col-md-10 {
        width: 87.333333% !important;
    }

    .col-md-2 {
        width: 12.666667% !important;
    }

    .cbp-rfgrid li a:hover div.simple {
        opacity: 1;
        width: 99.40% !important;

    }
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    .col-md-10 {
        width: 87.333333%;
    }

    .col-md-2 {
        width: 12.666667%;
    }

    .cbp-rfgrid li a:hover div.simple {
        opacity: 1;
        width: 99.40% !important;
    }
}

@media only screen and (max-width: 768px) {
    .col-md-10 {
        width: 100%;
    }

    .col-md-2 {
        width: 100%;
        margin-bottom: 40px;
    }

    img.show-more-models {
        width: 100% !important;
        object-fit: contain;
    }

    .mobile-sidebar-class {
        display: none;
    }
}

/* .active {
background-color: #EA0000 !important;
color: #FFF !important;
border: 1px solid #850a08;

opacity: 1.0;
} */




.cbp-rfgrid li a div.simple h3 {

    left: -15px !important;

}



.Female {
    font-size: 0;
}


.Female:first-letter {
    font-size: 12px;
}



.cbp-rfgrid {
    width: 100% !important;
}